@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap'); 
* {
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    margin: auto;
    background-color:#1E1A20 ;
    padding: 1em;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

header{
    
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: none;
  

}

header .profile{
    order: 1;
    margin-left: 20px;
}

header .profile img{
    width: 50px;
    height: 50px;

}
header .medal{
    order: 3;
    margin-right: 20px;

}
header .medal img{
    width: 60px;
    height: 60px;
}
.logo img{
    width: 100px;
    height: 100px;
 
}
.Brain, .Blasters{
    color: #FFFFFF;
    font-family: Poppins;
}
.Brain{
    
    margin-right: 10px;
}
.Blasters{
    
    margin-left: 10px;
}
.logo{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.play-icon{
    width: 50px;
    height: 50px;
}

.content {
    display: flex;
}

.menu {
    flex: 0 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
    width:100px;
    justify-content: space-around;
    
    }
.menu ul li{
    list-style: none;
    flex-direction: column;
    
    margin-bottom: 20px;

}

.icon-menu {
    width: 50px;
    height: 50px;
    
}

.space{
    height: 5px;
    width: 98%;
    margin-top: 10px;
    background-color: #FFFFFF;
    margin-left: 0;
}
footer{
    background-color: #FFFFFF;
    color: #1E1A20 ;
    font-family: Poppins;
    height: 20px;
    width: 100%;
    display: flex;
    padding: 10px;
    margin-top: 15%;
  


}

main {
    flex: 1;
    padding: 20px;
    color: #FFFFFF;
    font-family: Poppins;
    display: flex;
 
    justify-content: center; 
    align-items: center;

}

.cuadro{
    width: 847px;
    height: 454px;
    margin-top: 20px;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    position: relative;
    align-self: stretch;
    background-color: #ae63ee;
    border-radius: 28px;
}

.cuadro div{
    display: flex;
    flex-direction: row;
    top: 30px;
    font-weight: 400;
    color: #000000;
    font-size: 64px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.cuadro img{
    width: 76px;
    height: 122px;
    top: 46px;
    left: 557px;
}

main p{
    text-align: center;
    width: 563px;
    letter-spacing: 0;
    line-height: normal;
    font-size: 20px;
}

.bajos{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 1289px;
    height: 310px;
    margin: 0 auto;
    text-align: center;
   
}

.compartir{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 299px;
    height: 94px;
    top: 25px;
    left: 17px;
    background-color: #f1daff;
    border-radius: 12px;
    border: 1px solid;
    border-color: #00000026;
    padding: 10px;
}
.compartir .signs{
    flex: 0 0 60px;
    position: absolute;
    width: 60px;
    height: 60px;
    top: 12px;
    left: 15px;
   
}

.compartir .links{
    flex: 0 0 48;
    position: absolute;
    width: 48px;
    height: 48px;
   bottom: 6px;
   right: 12px;
   margin-left: 10px;
}

.p {
    width: 60px;
    flex: 1;
    text-align: center;
    margin-left: 60px;
}

.publi{
    position: absolute;
    width: 299px;
    height: 94px;
    top: 22px;
    left: 937px;
    background-color: #f1daff;
    border-radius: 10px;
    border: 1px solid;
    border-color: #00000026;
}

.textp{
    position: absolute;
    width: 226px;
    height: 59px;
    top: 16px;
    left: 34px;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.error{
    position: absolute;
    width: 120px;
    height: 120px;
    top: 185px;
    left: 1169px;
}

.partidas{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 394px;
    height: 227px;
    top: 44px;
    left: 435px;
    background-color: #f1daff;
    border-radius: 10px;
    overflow: scroll;
    overflow-x: hidden;
    
}

.textopartida{

    width: 241px;
    height: 30px;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.line{
    width: 100%;
}

.partida{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.imgparti{
    width: 43px;
    height: 53px;
}

/* Estilos para pantallas de hasta 480px de ancho (teléfonos móviles) */
@media screen and (max-width: 768px) {
    header{
    
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    
    
    }
    header .profile{
        order: 1;
        margin-left: 40px;
    }
    
    header .profile img{
        width: 50px;
        height: 50px;
    
    }
    header .medal{
        order: 3;
        margin-right: 20px;
    
    }
    header .medal img{
        width: 60px;
        height: 60px;
    }
    footer{
        display: none;
    }
    .space{
        display: none;
    }
    .Brain, .Blasters{
        display: none;
    }
    .play-icon{
        width: 100px;
        height: 100px;
    }
    .menu ul li{
        list-style: none;
        display: inline;
        margin-left: 8px;
    
    }
    .menu {
    position: fixed;
    margin-top: 100%;
    width:50vh;
    align-items: flex-start;
    }
    .icon-menu {
        width: 60px;
        height: 60px;
        
    }
    .cuadro{
        display: none;
    }
    .compartir{
        position: absolute;
        width: 299px;
        height: 94px;
        top: 137px;
        left: 25px;
        background-color: #f1daff;
        border-radius: 12px;
        border: 1px solid;
        border-color: #00000026;
    }
    .salida{
        display: none;
    }
    .partidas{
        display: none;
    }

}

/* Estilos para pantallas entre 481px y 768px de ancho (tabletas) */
/*@media screen and (min-width: 481px) and (max-width: 768px) {

}*/

/* Estilos para pantallas de más de 768px de ancho (escritorio) */
@media screen and (min-width: 769px) {

}
