{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load static %}
{% block content %}

<div class="container-help">
    <h1>{% trans "Reglas del juego" %}</h1>
    <div class="reglas">
    <h2>{% trans "Registro e Inicio de Sesión" %}</h2>
    <p><b>{% trans "Registro:" %}</b>{% trans " Todos los usuarios deben registrarse en la aplicación para poder participar en las trivias. Durante el registro, se les pedirá que definan un alias. Este alias se mostrará cada vez que el usuario participe en un Ranking. " %}<br>
        <br>
    <b>{% trans " Inicio de Sesión:" %}</b>{% trans " Una vez registrado, el usuario debe iniciar sesión para acceder a las trivias, ver su perfil, y consultar su posición en el ranking." %}
    </p>
    <h2>{% trans "Elección de Categorías" %} </h2>
    <p><b>{% trans "Selección de Trivia: " %} </b>{% trans "Los usuarios pueden escoger la categoría de trivia que desean jugar. Las categorías disponibles incluyen entretenimiento, deporte, lenguajes de programación, efemérides, marcas de logotipos, canciones, entre otras." %}</p>
    
    <h2>{% trans "Responder Trivias" %}</h2>
    <ul>
        <li><b>{% trans "Formato de la Trivia: " %}</b>{% trans "Cada trivia consiste en una pregunta con cuatro posibles respuestas." %}</li>
        <br>
        <li>{% trans "Solo una de ellas es correcta. Algunas trivias pueden incluir imágenes junto a la pregunta." %}</li>
        <br>
        <li><b>{% trans " Puntaje: " %}</b>{% trans "Se otorgan 100 puntos por cada respuesta correcta. " %}</li>
        <br>
        <li>{% trans "Si el usuario responde correctamente dentro de un período de tiempo establecido, recibe un bono adicional de 200 puntos." %}</li>
        
    </ul>

    <h2>{% trans "Rankings y Premios" %}</h2>
    <ul>
        <li><b>{% trans "Ranking: " %}</b>{% trans "Los puntos acumulados por cada usuario se reflejan en un ranking global de jugadores." %}</li>
        <br>
        <li><b>{% trans "Premios por Ranking: " %}</b>{% trans "Los tres jugadores con más puntos al momento de cada sorteo ganan premios especiales. Los administradores determinan las fechas de estos sorteos." %}</li>
        <br>
        <li><b>{% trans "Premios Instantáneos: " %} </b>{% trans "A lo largo del juego, se harán preguntas al azar que otorgan premios instantáneos. Si un usuario responde correctamente una de estas preguntas, recibirá un premio de inmediato. No hay un aviso previo para estas preguntas, por lo que mientras más se juegue, mayor será la oportunidad de ganar." %}</li>
    </ul>

    
 

</div>



</div>



{% endblock %}

