
{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
<div class="container-home_jugador">
    <div class="bienvenido">{% trans "Bienvenido " %}{{ request.user.nombre }}</div>
    <img src='{% static "img/brainby.png" %}' alt="" class="brainby">

    <div class="slide">
        <ul>
            <li><img src='{% static "img/1.png" %}'></li>
            <li><img src='{% static "img/2.png" %}'></li>
            <li><img src='{% static "img/3.png" %}'></li>
            <li><img src='{% static "img/4.png" %}'></li>
        </ul>
<h3 class="text-cat">{% trans "Elige una categoría para empezar:" %}</h3>
<form class="cards-container" method="post" action="{% url 'respondercategoria' %}">
    {% csrf_token %}
    
    {% for categoria in categorias %}
        <button type="submit" class="card" value="{{ categoria.id }}" name="categoria_id">{{ categoria.nombre }}</button>
    {% endfor %}
</form>

    </div>
  
</div>

{% endblock %}
