{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="container-responder_categoria">
    <div class="logo">
        <h2 class="title_resCat">{{ categoria_nombre }}</h2>



    </div>
    {% if messages %}
    <div class="message-container-answer" id="contenedorDeMensajes">
        <ul id="message-container-answer">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>
                {{ message }}
                </li>
                {% endfor %}
        </ul>
    </div>
    {% endif %}
    <form id="responder-form" class="res_Cat" method="post" action="{% url 'procesar_respuesta'%}">
        <input type="hidden" name="categoria_id" value="{{ categoria_id }}">
        <input type="hidden" name="trivia_id" value="{{ trivia.id }}">
        {% csrf_token %}
        <h2 class="title_preg">{{ trivia.pregunta }}</h2>


        {% if trivia.tipo == 2 %}
        <button type="submit" class="boton_categoria" name="respuesta" value="1"><img src="{{ trivia.opcion_img1.url }}"
                alt="{{ trivia.descripcion_img1 }}"></button>
        <button type="submit" class="boton_categoria" name="respuesta" value="2"><img src="{{ trivia.opcion_img2.url }}"
                alt="{{ trivia.descripcion_img2 }}"></button>
        <button type="submit" class="boton_categoria" name="respuesta" value="3"><img src="{{ trivia.opcion_img3.url }}"
                alt="{{ trivia.descripcion_img3 }}"></button>
        <button type="submit" class="boton_categoria" name="respuesta" value="4"><img src="{{ trivia.opcion_img4.url }}"
                alt="{{ trivia.descripcion_img4 }}"></button>
        {% else %}
        <button type="submit" class="boton_categoria" name="respuesta" value="1" id="boton1">{{ trivia.opcion_txt1 }}</button>
        <button type="submit" class="boton_categoria" name="respuesta" value="2" id="boton2">{{ trivia.opcion_txt2 }}</button>
        <button type="submit" class="boton_categoria" name="respuesta" value="3" id="boton3">{{ trivia.opcion_txt3 }}</button>
        <button type="submit" class="boton_categoria" name="respuesta" value="4" id="boton4">{{ trivia.opcion_txt4 }}</button>
        {% endif %}
        <div class="timer">
            <div class="timer-bar" id="timer-bar"></div>
            <p><span id="countdown-display">15</span> </p>
        </div>
        <div class="interactuar">
            <div class="score" id="score">
                <p>Puntaje: {{ puntaje_acumulado }}</p>
            </div>
            <div class="skip" id="skip">
                <button type="submit" class="boton_saltar" name="respuesta" value="5" >Saltar</button>
            </div>
            <div class="aceptar" id="aceptar">
                <h3 style="font-family: Poppins;">Ups, parece que esa respuesta no es la correcta.</h3>
                <button type="button" class="boton_aceptar" id="boton_aceptar" name="respuesta" value="10">Aceptar</button>
            </div>

        </div>
    </form>
        {% if trivia.tipo == null %}
        <style>
            #responder-form {
                display: none; /* Oculta el formulario */
            }
            #contenedorDeMensajes{
                display: none;
            }
        </style>
        <div class="no-trivia">
            <img src='{% static "./img/brainby_triste.png" %}' alt="" class="brainby_triste">
        <h2>No hay trivias disponibles en esta categoría</h2>
        <p>Por favor, inténtalo de nuevo más tarde.</p>
        </div>
        {% endif %}
</div>
<script src='{% static "./js/respondercategoria.js" %}'></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        let countdown;
        let interval;

        const messages = document.querySelectorAll('#message-container-answer li');
        const countdownDisplay = document.getElementById('countdown-display');
        const timerBar = document.getElementById('timer-bar');
        const form = document.getElementById('responder-form');
        const boton1 = document.getElementById('boton1');
        const boton2 = document.getElementById('boton2');
        const boton3 = document.getElementById('boton3');
        const boton4 = document.getElementById('boton4');
        const skip = document.getElementById('skip');
        const buttons = document.getElementsByName('respuesta'); // Selecciona todos los botones con name="respuesta"
        let buttonClicked = false;
        const trivia_respuesta = "{{trivia_respuesta}}";
        const respuesta_seleccionada = "{{respuesta_seleccionada}}";
        const trivia_id = "{{ trivia.id }}";
        if(trivia_id=='null'){
            console.log("No hay mas trivias para esta categoria");
            skip.style.color='blue';
        }
        const score = document.getElementById('score');
        const aceptar = document.getElementById('aceptar');
        const boton_aceptar = document.getElementById('boton_aceptar');

        
        function startCountdown() {
            if (interval) {
            clearInterval(interval);
        }
            countdown = 15.00;
            interval = setInterval(function () {
                countdown -= 0.01;
                countdownDisplay.textContent = countdown.toFixed(0);
                timerBar.style.width = (countdown / 15) * 100 + '%';

                if (countdown <= 0) {
                    clearInterval(interval);
                    if (!buttonClicked) {
                        countdownDisplay.textContent = '0';
                    }
                }
            }, 10);
        }

        
        

        startCountdown(); // Inicia el temporizador al cargar la página





        buttons.forEach(button => {
            button.addEventListener('click', function () {
                buttonClicked = true;
                clearInterval(interval);
                const tiempoRestante = countdown.toFixed(2);
                const inputTiempo = document.createElement('input');
                inputTiempo.type = 'hidden';
                inputTiempo.name = 'tiempo_restante';
                inputTiempo.value = tiempoRestante;
                form.appendChild(inputTiempo);
            });
        });

        function redirectAfterDelay() {
      
            setTimeout(() => {
                window.location.href = "{% url 'home_jugador' %}"; // Redirigir a la página 'home_jugador'
            }, 10000);
        }

        messages.forEach(message => {
            if (message.classList.contains('error')) {
                // Mensajes de error
                form.style.display = 'block';
                /*
                message.style.display = 'block'
                const errorIcon = document.createElement('img');
                errorIcon.src = "{% static 'img/brainby_triste.png' %}";
                errorIcon.alt = "Error Icon";
                errorIcon.style.width = '300px';
                errorIcon.style.height = 'auto';
                errorIcon.style.display = 'block';
                errorIcon.style.margin = '0 auto';

                message.insertBefore(errorIcon, message.firstChild);
                message.style.color = 'red';*/
                message.style.display = 'none';
                countdownDisplay.style.display = 'none';
                timerBar.style.display = 'none';
                skip.style.display = 'none';
                score.style.display = 'none';
                aceptar.style.display = 'block';
                boton_aceptar.addEventListener('click', function () {
                    window.location.href = "{% url 'home_jugador' %}"; // Redirigir a la página 'home_jugador'
                });

            // Mapear respuestas a botones
            const respuestaBotones = {
                1: boton1,
                2: boton2,
                3: boton3,
                4: boton4
            };

            // Verificar respuesta seleccionada
            if (trivia_respuesta >= 1 && trivia_respuesta <= 4) {
                // Limpiar todas las clases previas
                Object.values(respuestaBotones).forEach(boton => {
                    boton.classList.remove("incorrecto", "correcto");
                    boton.disabled = true;
                });

                // Asignar clases según la respuesta seleccionada
                if (respuesta_seleccionada in respuestaBotones) {
                    respuestaBotones[respuesta_seleccionada].classList.add("incorrecto");
                }
                respuestaBotones[trivia_respuesta].classList.add("correcto");
            }




                


                setTimeout(() => {
                    message.style.display = 'none';
                    redirectAfterDelay();
                }, 60000);
            } else if (message.classList.contains('info')) {
                // Mensaje de información
                form.style.display = 'none';
                message.style.display = 'block'
                const infoIcon = document.createElement('img');
                infoIcon.src = "{% static 'img/brainby_triste.png' %}";
                infoIcon.alt = "Info Icon";
                infoIcon.style.width = '300px';
                infoIcon.style.height = 'auto';
                infoIcon.style.display = 'block';
                infoIcon.style.margin = '0 auto';

                setTimeout(() => {
                    message.style.display = 'none';
                    
                }, 3000); // Ocultar el mensaje después de 5 segundos

                redirectAfterDelay();



            } else if (message.classList.contains('success')) {
                // Mensajes de éxito
                form.style.display = 'none';
                message.style.display = 'block';
                const successIcon = document.createElement('img');
                successIcon.src = "{% static 'img/brainby.png' %}";
                successIcon.alt = "Success Icon";
                successIcon.style.width = '200px';
                successIcon.style.height = 'auto';
                successIcon.style.display = 'block';
                successIcon.style.margin = '0 auto';

                message.insertBefore(successIcon, message.firstChild);

                setTimeout(() => {
                    message.style.display = 'none';
                    form.style.display = 'block';
                    startCountdown(); // Reinicia el temporizador después de mostrar el mensaje de éxito
                }, 3000); // Ocultar el mensaje después de 5 segundos
            }
        });

        form.addEventListener('submit', function () {
            clearInterval(interval);
        });
    });
</script>




{% endblock %}